body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  grid-template-areas: 
  "header header header"
  "main main main"
  "main main main"
  "main main main"
  "main main main"
  "main main main"
  "main main main"
  "main main main"
  "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 200px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 50px;
  grid-gap: 20px;
  background: linear-gradient(#472B09, 40%, #F2AE5B );
}

img {
  max-width: 35%;
  max-height: 45%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 5px 5px #C19A6B;
}


Form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-area: header;
  padding: 25px;
  margin-top: 10px;
}

footer {
  background-image: url(/src/assets/img/footer-img.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #472B09;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-area: footer;
}

header {
  grid-area: header;
  background-image: url(/src/assets/img/Banner-Café.jpg);
}

#root {
  background-image: url(/src/assets/img/FondoPantalla.jpg);
}

Card {
  grid-area: main;
}